In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\tyler\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\tyler\appdata\roaming\python\python314\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tyler\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tyler\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tyler\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\tyler\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import requests
from string import ascii_uppercase as alphabet
import pickle
!pip install pickle 
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\tyler\appdata\roaming\python\python314\site-packages (6.0.2)

In [3]:
url = 'https://en.wikipedia.org/wiki/2026_FIFA_World_Cup'

headers = {
    'User-Agent': 'Mozilla/5.0'
}

html = requests.get(url, headers=headers).text
all_tables = pd.read_html(html)
len(all_tables)  # Check how many tables were found

C:\Users\Tyler\AppData\Local\Temp\ipykernel_35940\1570657241.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  all_tables = pd.read_html(html)

170

In [4]:
#all_tables[25]
#all_tables[32]
#all_tables[39]
#all_tables[46]
#all_tables[53]
#all_tables[60]
#all_tables[67]
#all_tables[74]
#all_tables[81]
#all_tables[88]
#all_tables[95]
all_tables[102]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Croatia,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Ghana,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Panama,0,0,0,0,0,0,0,0,NaN

In [5]:
all_tables = pd.read_html(html)

dict_table = {}
for letter, i in zip(alphabet, range(25, 109, 7)):
    df = all_tables[i]
    df.rename(columns={'Teamvte': 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

C:\Users\Tyler\AppData\Local\Temp\ipykernel_35940\969798650.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  all_tables = pd.read_html(html)

In [6]:
dict_table.keys()
dict_table['Group A']

   Pos                   Team  Pld  W  D  L  GF  GA  GD  Pts
0    1             Mexico (H)    0  0  0  0   0   0   0    0
1    2           South Africa    0  0  0  0   0   0   0    0
2    3            South Korea    0  0  0  0   0   0   0    0
3    4  UEFA Path D winner[a]    0  0  0  0   0   0   0    0

In [7]:
with open ('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)